.search-box-container {
    width: 30vw;
    justify-items: center;
}

.error {
    padding: 0 20px 0 20px;
    text-align: center;
    font-size: 16px;
}

@media (max-width: 600px) {
    .search-box-container {
        width: 100vw;
        display: grid;

        justify-content: center;

    }
}
