.page-container {
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.search-section {
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    z-index: 50;
    background-color: rgba(255,255,255,0.96);

    transition: height var(--transitions-time);
}

.search-section--on-search {
    position: absolute;
    height: 25vh;
}

.grid-section {
    padding-top: 25vh;
    height: 0vh;
    overflow-y: scroll;
    z-index: 10;

    transition: height var(--transitions-time);
}

.grid-section--on-search {
    height: 75vh;
}

@media (max-width: 600px) {
    .search-section {
        align-items: stretch;
        gap: 5px;
    } 

    .search-section--on-search {
        height: 180px;
    }

    .grid-section {
        padding-top: 180px;
    }
    
}


