<mat-card class="card-container">
    <div class="avatar-container">
        <atom-avatar (click)="goToProfile()" [matTooltip]="viewTexts.visitProfile" [imageUrl]="data.avatar_url">
        </atom-avatar>
    </div>
    <div class="information-container">
        <mat-card-title (click)="goToProfile()" class="card-title">{{ data.login }}</mat-card-title>

        <molecule-chip class="type" [icon]="data.type == 'User' ? 'person' : 'work'" [label]="data.type"></molecule-chip>
        <molecule-chip class="score" [label]="'Score: ' + data.score"></molecule-chip>

        <molecule-chip [color]="'primary'" class="precision-level"
            [label]="'Precision Level: ' + (data.score | precision)"></molecule-chip>

    </div>
</mat-card>