.card-container {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-evenly;

    border-radius: 100px 0 0 100px;

    animation: fade-in var(--transitions-time);
}

.avatar-container {
    width: 40%;
    height: 40%;
    opacity: 1;

    cursor: pointer;
    transition: opacity var(--transitions-time);
}

.avatar-container:hover {
    opacity: .8;
}

.information-container {
    font-size: 10px !important;
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
}

.card-title {
    max-width: 150px;
    height: 25px;
    margin: 0;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--primary-color);

    cursor: pointer;
}

.chips-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.card-title {
    transform: translateX(-5%);
}

.precision-level {
    transform: translateX(-5%);
}

@media (max-width: 600px) {
    .card-container {    
        border-radius: 10px;
        justify-content: space-between;
    }
}