.grid-container {
    width: 70vw;
    padding-bottom: 200px;
   
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 20px;
}

@media (max-width: 600px) {
    .grid-container {
        width: 90vw;
    
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }   

}

